body {
  min-width: 1200px;
  overflow-x: hidden;
  background-color: #fff;
}

// 顶部快捷栏
.shortcut {
  a {
    cursor: pointer;

  }

  min-width: 1200px;
  height: 36px;
  line-height: 36px;
  background-color: #2e2828;
  font-family: "Helvetica Neue",
  Helvetica,
  Arial,
  "Microsoft Yahei",
  "Hiragino Sans GB",
  "Heiti SC",
  "WenQuanYi Micro Hei",
  sans-serif;
  position: relative;

  .s-sub {
    li {
      float: left;
      padding: 0 8px;
      position: relative;
      line-height: 36px;

      &:first-child {
        padding-left: 0;
      }

      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 10px;
        position: absolute;
        top: 13px;
        left: 0;
        background-color: #414141;
      }

      a {
        color: #afafaf;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .s-dropdown {
    position: relative;
    margin: 0 -9px;


    .h {
      height: 36px;
      line-height: 36px;
      padding: 0 12px 0 10px;
      position: relative;

      .icon-dropdown {
        position: relative;
        padding-right: 15px;

        &::before {
          content: "";
          display: block;
          width: 14px;
          height: 14px;
          background: url("/img/index/icon-commonnew.svg");
          background-position: -71px 0;
          position: absolute;
          top: 0;
          right: -5px;
        }
      }
    }

    .b {
      display: none;
      position: absolute;
      top: 36px;
      right: 0;
      background-color: #fff;
      z-index: 2;

      .dropdown-more {
        dt {
          padding: 10px 0;
          text-align: center;


          a {
            color: #777;

            &:hover {
              color: #ca151d;
            }
          }
        }

        &:hover {
          .b {
            background-color: #fff;
          }
        }
      }

      .w-119 {
        width: 119px;
      }

      .w-85 {
        width: 85px;
      }
    }

    &:hover {
      .h {
        background-color: #fff;
        z-index: 1;

        a {
          color: #cb242b;
        }
      }

      .b {
        display: block;
      }


      .icon-dropdown {
        &::before {
          background-position: -85px 0;
        }
      }

    }

  }

  .s-main {
    li {
      float: left;
      padding: 0 8px;
      position: relative;
      line-height: 36px;

      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 10px;
        position: absolute;
        top: 13px;
        left: 0;
        background-color: #414141;
      }

      &:first-child {
        padding-left: 0;
      }

      a {
        color: #afafaf;

        &:hover {
          color: #fff;
        }
      }

    }
  }
}

// 头部

.header {
  height: 41px;
  padding: 18px 0 15px 0;
  background-color: #fff;
  position: relative;
  line-height: 1.5;

  .h-left {
    .logo {
      float: left;
      margin-right: 34px;
      height: 36px;

      img {
        height: 100%;
        cursor: pointer;
      }
    }

    .header-list {
      float: left;
      height: 40px;
      overflow: hidden;
      max-width: 533px;

      li {
        margin-right: 24px;
        float: left;
      }

      .img {
        img {
          display: block;
          height: 24px;
          margin-top: 7px;

          &:hover {
            opacity: .8;
          }
        }
      }

      a {
        font-size: 16px;
        color: #333;
        line-height: 40px;
        display: block;

        &:hover {
          color: #cb242b;
        }
      }
    }
  }

  .h-right {


    .search {
      position: relative;
    }

    input {
      display: block;
      margin-top: 5px;
      background-color: #f0f0f0;
      border-radius: 16px;
      border: none;
      outline: none;
      width: 240px;
      height: 30px;
      text-indent: 15px;
      font-size: 14px;

      &:hover {
        border: 1px solid #c9c9c9;
      }
    }

    i {
      font-size: 20px;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 7px;
      color: #858585;
    }
  }

}


// 主体内容
.container{
  background-color: #f5f5f5;

  .list-nav{
    color: #666;
    padding-top: 26px;
    padding-bottom: 24px;

    a{
      color: #666;
      &:hover{
        color: #cb242b;
      }
    }
    span{
      color: #333;
    }
  }

  .list-cate-area{
    background-color: #fff;
    .p-tit{
      float: left;
      text-align: left;
      width: 106px;
      color: #666;
      line-height: 35px;
    }
    .p-values{
      float: left;
      width: 1046px;
      height: 35px;
      line-height: 35px;
      position: relative;
      li{
        padding-left: 22px;
        margin-right: 40px;
        height: 35px;
        position: relative;
        float: left;
        a{
          line-height: 35px;
          color: #333;
          &:hover{
            color: #cb242b;
          }
        }
      }
    }

    .list-pro{
      width: 1152px;
      margin: 0 auto;
      position: relative;
      border-bottom: 1px solid #eaeaea;
      &:last-child{
        border-bottom: none;
      }
    }

  }

  .channel-list{
    text-align: right;
    width: 1210px;
    padding-bottom: 20px;
    li{
      width: 242px;
      float: left;

      .list-grid-item{
        margin-bottom: 10px;
        background-color: #fff;
        width: 200px;
        padding: 0 16px;
        height: 352px;
        position: relative;
        text-align: left;
        overflow: hidden;
        transition: all .2s linear 0s;

        &:hover{
          box-shadow: 0 10px 15px rgba(0,0,0,0.07);
          transform: translate3d(0px,-2px,0px);
        }

        .p-img{
          text-align: center;
          margin-top: 30px;
          img{
            vertical-align: top;
            width: 180px;
            height: 180px;
          }
        }
        .p-name{
          line-height: 20px;
          overflow: hidden;
          color: #333;
          font-size: 14px;
          max-height: 40px;
          margin-top: 8px;
          margin-bottom: 8px;
          text-overflow: ellipsis;
        }
        .p-price{
          margin-bottom: 8px;
          font-size: 18px;
          b{
            font-weight: normal;
            line-height: 24px;
            float: left;
            color: #ca141d;
          }
          span{
            width: 58px;
            height: 14px;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
            color: #68beff;
            border: 1px solid #84c9fd;
            float: left;
            border-radius: 10px;
            margin-left: 4px;
            margin-top: 4px;
          }
        }
        .p-label{
          margin-bottom: 8px;
          height: 16px;
          overflow: hidden;
          span{
            padding: 0 5px;
            line-height: 14px;
            text-align: center;
            color: #ca141d;
            border: 1px solid #d5434a;
            float: left;
            margin-right: 4px;
          }
        }
        .p-comment{
          color: #999;
          height: 14px;
          line-height: 14px;
          overflow: hidden;
          em{
            margin-right: 8px;
            font-style: normal;
            font-weight: 400;
          }
        }
        .p-tag{
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          text-align: center;
          span{
            background-color: #ff8486;
            display: inline-block;
            padding: 0 8px;
            margin: 0 auto;
            height: 18px;
            line-height: 18px;
            color: #fff;
            border-radius: 0 0 5px 5px;
            overflow: hidden;
          }
        }

      }
    }
  }

  // 分页器
  .pagination{
    float: right;
    margin-bottom: 20px;
    a{
      font-size: 10px;
      &:hover{
        background-color: #74b9ff;
      }
    }
    .active{
      border: none;
      box-sizing: border-box;
      background-color: #74b9ff;
    }
  }

}


// 底部
.footer {
  background-color: #f9f9f9;
  width: 100%;
  min-width: 1200px;

  .slogan {
    padding: 22px 0 20px;

    li {
      padding-right: 114px;
      font-size: 18px;
      color: #333;
      height: 40px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      float: left;

      &:last-child {
        padding-right: 0;
      }
    }

    i {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      margin-right: 15px;
      background: url("https://res8.vmallres.com/20200122/images/echannel/icon/icon01.svg") no-repeat;
    }

    .s1 {
      >i {
        background-position: -74px 0;
      }
    }

    .s2 {
      >i {
        background-position: -154px 0;
      }
    }

    .s3 {
      >i {
        background-position: -194px 0;
      }
    }

    .s4 {
      >i {
        background-position: -114px 0;
      }
    }
  }

  .service {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 23px 0 24px;

    .service-l {
      width: 920px;
      height: 155px;
      padding-top: 5px;
      border-right: 1px solid #e5e5e5;
      display: flex;

      dl {
        flex: 1;

        dt {
          font-size: 14px;
          color: #3a3a3a;
          margin-bottom: 15px;
        }

        dd {
          margin-bottom: 10px;

          a {
            color: #777;

            &:hover {
              color: #cb242b;
            }
          }

        }
      }

    }

    .service-r {
      width: 278px;
      min-height: 160px;
      margin-top: 2px;
      text-align: center;

      dl {
        width: 278px;

        dt {
          font-size: 24px;
          color: #575757;
          font-weight: bold;
          margin-bottom: 10px;
        }

        dd {
          font-size: 14px;
          color: #3a3a3a;

          a {
            display: block;
            color: #fff;
            width: 170px;
            height: 34px;
            margin: 0 auto;
            margin-top: 10px;
            line-height: 34px;
            background-color: #333;
            cursor: pointer;
            border-radius: 17px;
          }

          i {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("https://res8.vmallres.com/20200122/images/echannel/icon/icon03.svg");
            background-position: -106px 0;
            position: relative;
            top: -1px;
            vertical-align: middle;
            margin-right: 6px;
          }
        }
      }

      .service-code {
        width: 250px;
        margin-top: 26px;
        margin-left: 40px;

        h2 {
          font-size: 16px;
          color: #333;
          float: left;
          font-weight: 400;
          vertical-align: middle;
          line-height: 1.6;
          margin-right: 8px;
        }

        ul {
          li {
            float: left;
            margin-right: 10px;

            a {
              display: block;
              width: 24px;
              height: 24px;
              overflow: hidden;
              background: url("https://res8.vmallres.com/20200122/images/echannel/icon/icon03.svg") no-repeat;
            }

            .i1 {
              background-position: -126px 0;
            }

            .i2 {
              background-position: -150px -24px;
            }

            .i3 {
              background-position: -174px -24px;
            }

            .i4 {
              background-position: -198px -24px;
            }


          }


        }
      }
    }
  }

  .foot {
    padding: 25px 0 28px;
    color: #666;
    line-height: 1.5;
  }
}
