.login {
  font: 12px/1.5 Arial,
    Helvetica,
    sans-serif;
  background-color: #ebebeb;
  height: 100%;
  width: 100%;
  color: #333;
}

.header_center {
  width: auto;
  max-width: 998px;
  height: 67px;
  margin: 0 auto;
  border: 0;
  position: relative;

  .main_logo {
    left: 2px;
    float: left;
    margin-right: 20px;

    img {
      width: 143px;
      margin-left: 4px;
      margin-top: 17px;
    }
  }

  .main_name {
    color: white;
    font-size: 20px;
    line-height: 50px;
    font-family: "arial";
    padding-top: 14px;

    .line {
      font-size: 18px;
      margin-top: -5px;
      float: left;
      color: #cccccc;
    }

    .name {
      color: #333;
      font-size: 18px;
      margin-top: -3px;
      float: left;
      margin-left: 20px;
    }
  }
}


.main_info {
  background: #FFFBE4;
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #989898;

  span {
    background-image: url("/img/login/prompt.png");
    background-repeat: no-repeat;
    background-size: 13px 13px;
    padding: 0 20px;
  }
}

.content {
  background-color: #081638;
  overflow: hidden;

  .content_center {
    width: 1130px;
    margin: 0 auto;
    background-size: cover;
    position: relative;

    img {
      position: absolute;
      width: 1130px;
    }

    .login_box {
      margin-top: 30px;
      margin-bottom: 30px;
      height: 530px;
      position: relative;
      width: 380px;
      float: right;
      background-color: #fff;
    }
  }
}

.userlogin {
  .lg_h {
    width: 100%;
    margin: 24px auto;
    text-align: center;

    span {
      font-size: 20px;
      color: #333;
      font-weight: 500;
      cursor: pointer;
      width: 167px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      padding: 0 10px;

      &:last-child {
        border-left: 1px solid #ccc;
      }
    }

    .active {
      color: #b40707;
    }
  }

  .lg_c {
    width: 328px;
    margin: 0 auto;

    .lg_form {
      padding-top: 20px;
      ;

      >input {
        width: 100%;
        height: 50px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;

        &::placeholder {
          color: rgb(204, 204, 204);
        }
      }

      .msg_login {
        display: block;
        width: 100%;
        padding: 16px 0;
        overflow: hidden;

        a {
          color: #007dff;

          .phoneIcon {
            width: 11px;
            height: 15px;
            background: url("/img/login/ic_smsLogin.png") no-repeat;
            background-position: -2px 0;
            display: inline-block;
            margin-bottom: -3px;
            margin-right: 6px;
          }
        }
      }

      button {
        width: 100%;
        line-height: 44px;
        height: 44px;
        font-weight: bold;
        font-size: 14px;
        border-radius: 26px;
        text-align: center;
        border: none;
        background-color: #b40707;
        color: #fff;
        outline: none;

        &:hover {
          background-color: #c70000;
        }
      }

      .lg_checkbox {
        height: 16px;
        padding: 16px 0;

        input {
          vertical-align: middle;
          margin-right: 5px;
          margin-left: 0px;
        }
      }

      .lg_link {
        text-align: center;

        a {
          color: #007dff;
        }

        span {
          color: #ccc;
          padding: 0 10px;
        }
      }
    }
  }
}

.thirdlogin {
  text-align: center;
  color: #999;
  line-height: 16px;
  width: 328px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-164px);

  .thirdLoginBlock {

    .thirdLinkTit {
      position: relative;
      margin-bottom: 10px;

      .line-left {
        background: url("/img/login/thirdLine.png") no-repeat;
        height: 1px;
        position: absolute;
        width: 94px;
        top: 50%;
        left: 0;
      }

      .third_tips {
        color: #ccc;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        background-color: #fff;
        padding: 0 10px;
        line-height: 1.5;
      }

      .line-right {
        background: url("/img/login/thirdLine_reverse.png") no-repeat;
        height: 1px;
        position: absolute;
        width: 94px;
        bottom: 50%;
        right: 0;
      }
    }
  }

  .thirdLoginDiv {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    span {
      padding: 0 10px;
      text-align: center;
      display: inline-block;
    }

    .qqlogin_ico {
      a {
        background: url("/img/login/third_login.png") no-repeat;
        width: 42px;
        height: 42px;
        display: inline-block;
        background-position: -72px -9px;

        &:hover {
          background-position: -72px -55px;
        }
      }
    }

    .alipay_ico {
      a {
        background: url("/img/login/third_login.png") no-repeat;
        width: 42px;
        height: 42px;
        display: inline-block;
        background-position: -132px -9px;

        &:hover {
          background-position: -132px -55px;
        }
      }
    }

    .wechat_ico {
      a {
        background: url("/img/login/third_login.png") no-repeat;
        width: 42px;
        height: 42px;
        display: inline-block;
        background-position: -12px -9px;

        &:hover {
          background-position: -12px -55px;
        }
      }
    }
  }
}

.ft {
  margin: 20px auto;
  text-align: center;
  font-size: 12px;
  color: #999;

  a {
    color: #999;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    font-size: 16px;
    padding: 0 10px;
  }

  p {
    &:last-child {
      margin-top: 10px;
    }
  }

}